<section class="resources-page">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="resources-header">
resources
          <hr style="height: 3px; width: 25%; background-color: #3c3059">
          <hr style="height: 2px; width: 15%; background-color: #84b7b1">
        </div>
        

        
        <div>
            <a>
          <img class="sylvia" src="../../assets/images/bell-hooks.jpg">
          <p></p>
          <p>Bell Hooks File</p>
        </a>
      
      </div>
       
       
  






        

  </div>
  </div>
  </div>
  
</section>
