.contact-page {
    background-image: url("../../assets/images/stripes.jpg");
    height: 100%;
    width: 100%;
}

.col {
    padding: 10px;
    font-size: 2rem;
}

.contact-header {
    text-align: center;
    padding: 2% 0;
    font-size: 5rem;
    font-weight: 900;
}

p {
    font-size: 1rem;
    padding: 0 10%;
}

.form {
    padding: 0 10%;
}
