<section class="contact-page">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="contact-header">
          contact
        </div>
        <p>
          Don't hesitate to reach out with any questions, comments, or concerns! We'd be more than happy to help.
          <br>
          Email: w.indebate2019@gmail.com
        </p>

        <form name="contactForm" class="form" #contactForm>
            <div class="form-group">
              <label for="">Name</label>
              <input type="text" [(ngModel)]="contact.name" class="form-control" placeholder="Name" name="name" required>
            </div>

            <div class="form-group">
              <label for="">Email</label>
              <input type="text" [(ngModel)]="contact.email" class="form-control" placeholder="Email" name="email" required>
            </div>

            <div class="form-group">
              <label for="">Message</label>
              <textarea type="text" [(ngModel)]="contact.message" class="form-control" placeholder="Questions, comments, jokes welcome!" name="message" required></textarea>

            </div>
        
            <!-- <div class="form-group mb-4">
              <re-captcha name="captcha" *ngIf="showCaptcha" [(ngModel)]="captchaResponse"></re-captcha>
            </div> -->
        
            <div class="form-group mb-2">
              <button type="submit" class="btn btn-secondary btn-block" [disabled]="!contactForm.valid " >
                <span *ngIf="!isLoading; else loading">
                  Send message
                </span>
                <ng-template #loading>
                  <!-- <app-loading-spinner [height]="24"></app-loading-spinner> -->
                </ng-template>
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
  