.mentees-page {
   

    background-image: url("../../assets/images/stripes.jpg");
    height: 100%;
    min-height: 500px;
    width: 100%;
    overflow: hidden;
}
.special{
    color: rgb(95, 69, 145);}

.mentees-page-top{
    
    background-image: url("../../assets/images/cover-pic-3.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-size: cover;
    /*
    height: 380px;
    width: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-bottom: 1px solid #beb6db; 
    
       background-color: #e8e0fc;*/
}



.col {
    padding: 10px;
    font-size: 2rem;
}

.mentees-header {

    text-align: center;
    padding: 2% 0;
    font-size: 5rem;
    font-weight: 900;
}
.list {
    font-size: 1rem;
    padding-left: auto;
    padding-right: auto;
}

.title{
    color: rgb(95, 69, 145);
        font-size: 1.7rem;
    font-family: "Sawarabi Gothic";
    /*text-align: center;*/
}

.signup-button {
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 0 1rem;
    color: #84b7b1;
}

.signup-button:hover {
    cursor: pointer;
    
}

