<section class="articles-page">
    <div class="container">
      <div class="row">
        <div class="col">
          <div>
              <div class="articles-header">
                publications
              <hr style="height: 3px; width: 25%; background-color: #3c3059">
              <hr style="height: 2px; width: 15%; background-color: #84b7b1">
            </div>

            <ul id="rig">
                <li>
                    <a class="rig-cell" (click)="openLindseyArticle()">
                        <img class="rig-img" src="../../assets/images/lindsey-article-image.jpg" />
                        <span class="rig-overlay"></span>
                        <span class="rig-text">Fighting for a Place at the Front by Lindsey Perlman
                        </span>
                    </a>
                  
                </li>
  
                  <li>
                      <a class="rig-cell" (click)="openKatie()">
                          <img class="rig-img" src="../../assets/images/katie-raph.jpg" />
                          <span class="rig-overlay"></span>
                          <span class="rig-text">Sick Woman Theory by Katie Raphaelson
                          </span>
                      </a>
                    
                  </li>
                  <li>
                    <a class="rig-cell" (click)="openLindseyArticle2()">
                        <img class="rig-img" src="../../assets/images/lindsey-article-image.jpg" />
                        <span class="rig-overlay"></span>
                        <span class="rig-text">Arrogance in Debate: A Rite of Passage
                            by Lindsey Perlman
                        </span>
                    </a>  
                </li>
                  </ul>
             
              
  
              
  
            </div>
        </div>
      </div>
    </div>
  </section>
  
  
  