.home-page {
    background-color: #1e0626;
    height: 500px;
    width: 100%;
    /* border-bottom: 1px solid #beb6db; */
}

.col {
    /* padding: 10px; */
    font-size: 6rem;
    text-align: center;
    font-weight: 600;
}

.home-page-button {
    border-radius: 20px;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #84b7b1;
    margin: 3rem 0.5rem;
}

.home-page-button:hover {
    cursor: pointer;
}