<section class="home-page">
    <div class="container">
      <div class="row">  
        <div class="col">
          <div class= "win-debate-header" style="color: white; margin-top: 2rem;">
              <div>w.in</div>
              <div>debate</div>
          </div>
          
        </div>
       </div> 
    </div>
 </section>

 <section class="who-we-are-page">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="who-we-are-header">
              who we are
              <hr style="height: 3px; width: 25%; background-color: #3c3059">
              <hr style="height: 2px; width: 15%; background-color: #84b7b1">
            </div>
            <p>
                W.in Debate is a free mentoring service that provides mentees with the opportunity to refine their debating 
                skills in a space where they feel both comfortable and safe, while building long-lasting relationships with 
                positive role models. Founded on the principle of women supporting women, our program seeks to create a support 
                system for younger women involved in Lincoln-Douglas Debate, a male-dominated activity. We believe that competitive 
                success shouldn’t come at the expense of a woman’s safety and wellbeing, and hope to foster an environment 
                where both are possible. 
            </p>
            <div class="who-we-are-header">
              organizers
              <hr style="height: 3px; width: 25%; background-color: #3c3059">
              <hr style="height: 2px; width: 15%; background-color: #84b7b1">
            </div>
            
    
          <div>
            <h5 style = "float:left;" > Lindsey Perlman: Editor-in-Chief</h5>
            <hr style="height:20pt; visibility:hidden;" />
            <p style="float: left;"><img class= "claire" src="../../assets/images/lindsey-perlman.jpg" ></p>
              <p>
                  Lindsey is a rising senior from New York. Her experiences with sexism in the debate activity motivated
                  her to create W.in debate in the hopes that it would prevent the same discrimination from happening to younger 
                  women. Lindsey is grateful to have had older women role models throughout her time in the activity to guide 
                  and encourage her, and she hopes that W.in debate will provide other young women with a similar support system. 
                  Lindsey is excited to play a role in creating an empowering space for women through the W.in debate platform!
              </p>
          </div>
          <hr style="height:50pt; visibility:hidden;" />
          <div>
              <h5 style="float:left;"> Claire Liu: Web Developer</h5>
              <hr style="height:20pt; visibility:hidden;" />
                <p style="float: left;"><img class= "claire" src="../../assets/images/claire-liu.jpg" ></p>
                <p>
                    Claire is a rising senior at Stuyvesant High School in New York City. After three years of debate, she recognized the value in forming relations with other women in the community. Compounded with the pervasiveness of sexism she experienced at debate camp, she decided to help in developing W.in debate. Throughout her career, Claire has been appreciative of the strength of women leadership on the Stuyvesant LD team. She hopes that W.in debate will provide them with the same resources and connections that she’s been able to have.                   
                  </p>
              </div>
              <hr style="height:50pt; visibility:hidden;" />
          <div>
              <h5 style="float:left;"> Julia Wu: Communications </h5>
              <hr style="height:20pt; visibility:hidden;" />
                <p style="float: left;"><img class= "claire" src="../../assets/images/julia-wu.jpg" ></p>
                <p>
                    Lindsey is a rising senior from New York. Her experiences with sexism in the debate activity motivated
                    her to create W.in debate in the hopes that it would prevent the same discrimination from happening to younger 
                    women. Lindsey is grateful to have had older female role models throughout her time in the activity to guide 
                    and encourage her, and she hopes that W.in debate will provide other young women with a similar support system. 
                    Lindsey is excited to play a role in creating an empowering space for women through the W.in debate platform!
                </p>
            </div>
            <hr style="height:50pt; visibility:hidden;" />
    
              <h5>Amy Pu</h5>
              <p>photo</p>
              <p>bio</p>
              
          </div>
        </div>
      </div>
    </section> 
    