.mentors-page {
    background-color: #e8e0fc;
    height: 100%;
    min-height: 500px;
    width: 100%;
}

.col {
    padding: 10px;
    font-size: 2rem;
}

.mentors-header {
    text-align: center;
    padding: 2% 0;
    font-size: 5rem;
    font-weight: 900;
}

.signup-button {
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 0 1rem;
    color: #84b7b1;
}

.signup-button:hover {
    cursor: pointer;
}

.circularmain img {
    margin: 0 auto;
    border: 6px solid #f172a1;
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 160px;
    height: 160px;
 }

 .pic:hover img {
    -webkit-filter: opacity(100%)brightness(120%);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    max-width: 230px;
    max-height: 230px;
    display:block;
 }

 
 
 .circular img {
    margin: 0 auto;
    border: 6px solid #f172a1;
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
 }
